<header id="main-header" class="header">


    <div class="row1">
        <div class="column">
  
          <div class="colum2">
  
            <mat-icon class="iconHeader">call</mat-icon>
            <h4 class="h1tel">618-189-0440</h4>
  
          </div>
          <div class="colum2">
  
              <mat-icon class="iconEmail">email</mat-icon>
               <h4 class="h1tel">comercial@inovatix.com.mx</h4>
  
            </div>
        </div>
        <div class="column">
  
            <a href="https://www.facebook.com/inovatix.org/" target="_blank">
            <img class="imgFb"  src="assets/img/facebook.png" alt="">
            </a>
          
          
        </div>
       
      </div>
      <div class="divSepara"></div>
  
      <div class="row">
        <div class="columMenuLogo">
  
            <img class="imgLogo" src="assets/img/logo_ino.png" alt="">
        </div>
        <div class="columMenu">
  
           
  <!--
            <button mat-button color="primary" routerLink="" class="btnMenuHome" style="font-weight: bold;">Productos</button>
            <button mat-button color="primary" routerLink="/tienda" class="btnMenuTienda">Tienda en Linea</button>
            <button mat-button color="primary" routerLink="/marca" class="btnMenu">Registro de Marca</button>
            <button mat-button color="primary" routerLink="/desarrollo" class="btnMenu">Desarrollo empresarial</button>
            <button mat-button color="primary" routerLink="/tecnologias" class="btnMenuTec">Tecnologias</button>
            <button mat-button color="primary" routerLink="/proyectos" class="btnMenu">Principales Proyectos</button>
            <button mat-button color="primary" routerLink="/contactanos" class="btnMenuTec">Contáctanos</button>-->

            <div class="divMenuDos">
              <button class="btnDespl" color="primary" mat-button [matMenuTriggerFor]="productos">Productos</button>
              <mat-menu  #productos="matMenu">
                  <button mat-menu-item routerLink="">Promociones</button>
                  <button mat-menu-item routerLink="/desarrollo" [matMenuTriggerFor]="desarrollo">Desarrollo Empresarial</button>
                  <button mat-menu-item routerLink="/tecnologias" [matMenuTriggerFor]="tecnologias">Tecnologías</button>
                  <button mat-menu-item routerLink="/mobiliario" [matMenuTriggerFor]="mobiliario">Mobiliario</button>
                  <button mat-menu-item routerLink="/imprenta" [matMenuTriggerFor]="imprenta">Imprenta</button>
                  <button mat-menu-item routerLink="/tienda">Tu Tienda en Linea</button>
                  <button mat-menu-item [routerLink]="['/marca', '']" [matMenuTriggerFor]="registro">Registro de Marca</button>
                  </mat-menu>
                  <mat-menu #registro="matMenu">
                    <button mat-menu-item [routerLink]="['/marca', '1']">Diseño de Logotipo</button>
                    <button mat-menu-item [routerLink]="['/marca', '2']">Registro de Marca</button>
                  </mat-menu>
                  
              <button class="btnDespl" color="primary" mat-button [matMenuTriggerFor]="desarrollo">Desarrollo Empresarial</button>
              <mat-menu  #desarrollo="matMenu">
                  <button mat-menu-item (click)="openDialog(1)">Plan de Negocios</button>
                  <button mat-menu-item (click)="openDialog(2)">Capacitacion</button>
                  <button mat-menu-item (click)="openDialog(3)">Desarrollo de Franquicias</button>
              </mat-menu>
    
              <button class="btnDespl" color="primary" mat-button [matMenuTriggerFor]="tecnologias">Tecnologías</button>
              <mat-menu  #tecnologias="matMenu">
                  <button mat-menu-item [routerLink]="['/tecnologias', '1']">Punto de Venta</button>
                  <button mat-menu-item [routerLink]="['/tecnologias', '2']">Aplicaciones Moviles</button>
                  <button mat-menu-item [routerLink]="['/tecnologias', '3']">Pagina Web</button>
                  <button mat-menu-item [routerLink]="['/tecnologias', '4']">Software a la Medida</button>
                  <button mat-menu-item [routerLink]="['/tecnologias', '5']">Equipo de Computo</button>
              </mat-menu>
    
              <button class="btnDespl" color="primary" mat-button [matMenuTriggerFor]="mobiliario">Mobiliario</button>
                  <mat-menu  #mobiliario="matMenu">
                      <button routerLink="/mobiliario" mat-menu-item>Para Oficina</button>
                      <button routerLink="/mobiliario" mat-menu-item>Para Hospitales</button>
                  </mat-menu>
        
                  <button class="btnDespl" color="primary" mat-button [matMenuTriggerFor]="imprenta">Imprenta</button>
                  <mat-menu  #imprenta="matMenu">
                      <button mat-menu-item routerLink="/imprenta">Volantes</button>
                      <button mat-menu-item routerLink="/imprenta">Lonas</button>
                      <button mat-menu-item routerLink="/imprenta">Tarjetas de Presentación</button>
                      <button mat-menu-item routerLink="/imprenta">Camisas</button>
                      <button mat-menu-item routerLink="/imprenta">Tazas</button>
                  </mat-menu>
    
              <button mat-button class="btnDespl" color="primary" routerLink="/proyectos">Nuestros Proyectos</button>

              <button mat-button class="btnDespl" style="margin-right: 3vw;" color="primary" routerLink="/contactanos">Contáctanos</button>
    
    
            </div>
            
  
            <div class="divHamburgesa">
              <button class="btnHamburger" mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>menu</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button routerLink="" mat-menu-item >
                  <span>Productos</span>
                </button>
                <button routerLink="/proyectos" mat-menu-item >
                  <span>Principales Proyectos</span>
                </button>
                <button routerLink="/tienda" mat-menu-item>
                  <span>Tienda en Linea</span>
                </button>
                <button routerLink="/marca" mat-menu-item>
                    <span>Registro de Marca</span>
                  </button>
                  <button routerLink="/desarrollo" mat-menu-item>
                      <span>Desarrollo Empresarial</span>
                    </button>
                    <button routerLink="/tecnologias" mat-menu-item>
                      <span>Tecnologias</span>
                    </button>
                    <button routerLink="/contactanos" mat-menu-item disabled>
                        <span>Contáctanos</span>
                      </button>
              </mat-menu></div>
        </div>
      </div>
  
   
  
  </header>

<div style="margin-top:8%;"></div>

<div class="divEmpresarial">
<div  appParallax [ratio]="0.5"  class="divParallax"></div>

    <div class="animated fadeInDown">
        <h2 class="h2SubtituloEmp">Explora nuestras posibulidades para ti</h2>
        <h1 class="h1TituloEmp">¡Desarrollamos tu empresa!</h1>
        
     
    </div>

    
    </div>

    <div class="divFondoDos">
        <div class="row1" >

                <div class="divDesarrollo" style="padding: 2vw;">
                    <mat-card style="background-color: white; " class="example-card">
                        <mat-card-header>
                            <h1 class="h1Desarrollo">¡Convertimos tu Negocio en Franquicia!</h1>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="pCard">Una <strong>FRANQUICIA</strong> es la mejor manera de <strong>MULTIPLICAR TU NEGOCIO</strong> con las practicas más seguras y exitosas,
                              creando una relacion comercial entre dos partes: un franquiciador (dueño inicial) y franquiciado (comprador de la franquicia),
                              nos encargamos de brindarte los servios para desarrollar tu empresa en este modelo la licencia de tu marca para su explotación 
                              comercial así como los métodos y tecnologías necesarias para multiplicar tu negocio con la <strong>INVERSIÓN DE OTROS</strong>.
                            </p>
                            <button mdbBtn type="button" style="width: 100%;" routerLink="/contactanos" color="secondary" mdbWavesEffect>Comenzar</button>

                        </mat-card-content>
                      
                      
                      </mat-card>
                  
                  
          
                </div>

                <div class="divDesarrollo" style="padding: 2vw;">
                    <mat-card style="background-color: white; " class="example-card">
                        <mat-card-header>
                            <h1 class="h1Desarrollo">¡Creamos tu Empresa¡</h1>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="pCard">El plan de negocios permite que inicies una nueva empresa o hacer crecer ordenadamente la que ya se tiene.
                                Elaboramos y asesoramos un modelo de planeación profesional que te permitirá desarrollar desde el concepto del negocio, 
                                inversión necesaria, proyección de ventas y todo lo necesario para aumentar las probalilidades de éxito de tu nueva empresa.
                            </p>
                        </mat-card-content>
                        <button mdbBtn type="button" style="width: 100%;" routerLink="/contactanos" color="secondary" mdbWavesEffect>Comenzar</button>

                      </mat-card>
                  
                  
          
                </div>

                <div class="divDesarrollo" style="padding: 2vw;">
                    <mat-card style="background-color: white; " class="example-card2">
                        <mat-card-header>
                            <h1 class="h1Desarrollo">Logra tus objeivos mediante estratégias</h1>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="pCard">Introduciomos tu empresa en la dinámica de mejora continua mediante la planeación estratégica que permitira definir objetivos inteligentes
                                mediante un mapa de actividades detalladas y estructuradas a medida de tu organización evitando malas prácicas como la replica 
                                de actividades, contratación de personal innecesario, evitar las cargas de trabajo futuras o existentes, etc. Establecerás
                                metas a corto, mediano y largo plazo, asi como  presupuestos, operaciones, publicidad, entre otros aspectos cruciales para 
                                el desarrollo empresarial.
                            </p>
                        </mat-card-content>
                        <button mdbBtn type="button" style="width: 100%;" routerLink="/contactanos" color="secondary" mdbWavesEffect>Comenzar</button>

                      </mat-card>
                  
                  
          
                </div>

                <div class="divDesarrollo" style="padding: 2vw;">
                    <mat-card style="background-color: white; " class="example-card2">
                        <mat-card-header>
                            <h1 class="h1Desarrollo">Capacitación para empresas</h1>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="pCard">La capacitación empresarial a formado parte de la vida cotidiana en las organizaciones. Algunos beneficios de estas 
                                actividades son la disminución de personal, mejora el desempeño, calidad de vida y con ello un aumento en las 
                                utilidades de la organización.
                                Contamos con curdod específicos para todos los integrantes del negocio desde directores, gerentes, personal de ventas y de todos los 
                                departamentos que integran la organizacion. Éste servicio tiene como plataforma inicial la inteligencia emocional  y dinámicas como:
                                trabajo en equipo, liderazgo humano, compromiso social, desarrollo de habilidades, integración familiar, entre otras.
                            </p>
                        </mat-card-content>
                        <button mdbBtn type="button" style="width: 100%;" routerLink="/contactanos" color="secondary" mdbWavesEffect>Comenzar</button>

                      </mat-card>
                  
                  
          
                </div>

                <div class="divDesarrollo" style="padding: 2vw;">
                    <mat-card style="background-color: white; " class="example-card2">
                        <mat-card-header>
                            <h1 class="h1Desarrollo">¡Crea tu manual de operaciones y simplifica tus actividades!</h1>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="pCard">El manual de operaciones es la guía autorizada de cómo realizar las actividades en tu negocio. Brinda una forma eficaz de comunicar 
                                las políticas y procedimientos, y ofrece a sus empleados la independencia y la seguridad que necesitan para operar en sus puestos 
                                dando máximos resultados.
                                contribuye a que ningun empleado sea poseedor de la información o actividad del puesto facilitando la instalación o reajuste de 
                                personal en la organización
                            </p>
                        </mat-card-content>
                        <button mdbBtn type="button" style="width: 100%;" routerLink="/contactanos" color="secondary" mdbWavesEffect>Comenzar</button>

                      </mat-card>
                  
                  
          
                </div>

                <div class="divDesarrollo" style="padding: 2vw;">
                    <mat-card style="background-color: white; " class="example-card3">
                        <mat-card-header>
                            <h1 class="h1Desarrollo">¡Marketing para tu empresa¡</h1>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="pCard">Nuestras herramientas de marketing buscan posicionar el nombre y actividad de tu empresa o elevar la venta de sus producto, 
                                va dirigido a un público meta que se define mediante investigación según sea el caso o la necesidad del cliente, incluye un conjunto 
                                de procesos mediante los cuales se identifican las necesidades o deseos de los consumidores o clientes para luego satisfacerlos de la 
                                mejor manera, usando campañas en medios electrónicos, impresos, tv, entre otros.
                                Generaremos todas las actividades anuales o mensuales segun sea el caso en un calendario, especificando la hora, dia, 
                                actividad, medio, publico, producto, entre otros. Todo esto con el fin de tener muy claro las actividades y poder llevar registro del 
                                comportamiento en materia de venta o posicionamiento deseado. 
                            </p>
                        </mat-card-content>
                        <button mdbBtn type="button" style="width: 100%;" routerLink="/contactanos" color="secondary" mdbWavesEffect>Comenzar</button>

                      </mat-card>
                  
                  
          
                </div>
          

            </div>

    </div>
   


