<header id="main-header" class="header">


    <div class="row1">
        <div class="column">

          <div class="colum2">

            <mat-icon class="iconHeader">call</mat-icon>
            <h4 class="h1tel">618-189-0440</h4>

          </div>
          <div class="colum2">

              <mat-icon class="iconEmail">email</mat-icon>
               <h4 class="h1tel">direccion@inovatix.com.mx</h4>

            </div>
        </div>
        <div class="column">

            <a href="https://www.facebook.com/inovatix.org/" target="_blank">
            <img class="imgFb"  src="assets/img/facebook.png" alt="">
            </a>
          
          
        </div>
       
      </div>
      <div class="divSepara"></div>

      <div class="row">
        <div class="columMenuLogo">

            <img class="imgLogo" src="assets/img/logo_ino.png" alt="">
        </div>
        <div class="columMenu">

            <button mat-button color="primary" routerLink="" class="btnMenuHome">Home</button>
            <button mat-button color="primary" routerLink="/proyectos" class="btnMenu">Principales Proyectos</button>
            <button mat-button color="primary" routerLink="/tienda" class="btnMenuTienda">Tienda en Linea</button>
            <button mat-button color="primary" routerLink="/marca" class="btnMenu">Registro de Marca</button>
            <button mat-button color="primary" routerLink="/desarrollo" class="btnMenu">Desarrollo empresarial</button>
            <button mat-button color="primary" routerLink="/tecnologias" class="btnMenuTec">Tecnologias</button>
            <button mat-button color="primary" routerLink="/contactanos" class="btnMenuTec">Contáctanos</button>
            <div class="divHamburgesa">
              <button class="btnHamburger" mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>menu</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button routerLink="" mat-menu-item >
                  <span>Home</span>
                </button>
                <button routerLink="/proyectos" mat-menu-item >
                  <span>Principales Proyectos</span>
                </button>
                <button routerLink="/tienda" mat-menu-item>
                  <span>Tienda en Linea</span>
                </button>
                <button routerLink="/marca" mat-menu-item disabled>
                    <span>Registro de Marca</span>
                  </button>
                  <button routerLink="/desarrollo" mat-menu-item>
                      <span>Desarrollo Empresarial</span>
                    </button>
                    <button routerLink="/tecnologias" mat-menu-item>
                      <span>Tecnologias</span>
                    </button>
                    <button routerLink="/contactanos" mat-menu-item>
                        <span>Contactanos</span>
                      </button>
              </mat-menu></div>
        </div>
      </div>

   

</header>

<div style="margin-top:9%;"></div>


<div class="divPasos">

  <div style="text-align:start;">
      <h1 class="h1Pasos"><strong>Cómo registrar una marca en México</strong></h1>
      <h3 class="h3Pasos">A través de nuestro portal puedes realizar tu registro de marca en México, de la forma más fácil, rápida y económica. 
          Puedes iniciar el trámite desde tu domicilio en cualquier punto del país y pagar hasta en 3 meses sin intereses con tu Tarjeta de Crédito. 
          Sólo deberás cumplimentar 3 simples pasos y nosotros nos encargaremos de todo lo demás.</h3>

  </div>

  

    <div class="row">

      <div class="columnPasos">

        <div style="text-align:end;" class="columPasos2">
            <img class="imgPasos" src="assets/img/registro_marca/one.png" alt="">
        </div>

        <div style="text-align:start" class="columPasos25">

          <h2 class="h2Pasos">Chequeo de Viabilidad</h2>
          <p class="pPasos">Verificamos si la marca que deseas registrar cumple con los requisitos legales y 
            no existen registros similares previos.</p>

        </div>

        

      </div>

      <div class="columnPasos">

          <div style="text-align:end;" class="columPasos2">
              <img class="imgPasos" src="assets/img/registro_marca/two.png" alt="">
          </div>
  
          <div style="text-align:start" class="columPasos25">
  
            <h2 class="h2Pasos">Ficha de Cliente</h2>
            <p class="pPasos">Ingresas tus datos personales, ya sea a través de nuestro 
              sitio web o telefónicamente y el sistema te envía la factura a tu Email.</p>
  
          </div>
  
          
  
      </div>

      
      <div class="columnPasos">

            <div style="text-align:end;" class="columPasos2">
                <img class="imgPasos" src="assets/img/registro_marca/three.png" alt="">
            </div>
    
            <div style="text-align:start" class="columPasos25">
    
              <h2 class="h2Pasos">Instrucciones</h2>
              <p class="pPasos">Luego de acreditado tu pago, el sistema te envía automáticamente un 
                instructivo con la documentación que deberás enviarnos firmada.</p>
    
            </div>
    
            
    
      </div>

      <div class="columnPasos">

          <div style="text-align:end;" class="columPasos2">
              <img class="imgPasos" src="assets/img/registro_marca/four.png" alt="">
          </div>
  
          <div style="text-align:start" class="columPasos25">
  
            <h2 class="h2Pasos">Inicio del Expediente</h2>
            <p class="pPasos">Luego de recibir tu documentación firmada, uno de nuestros abogados 
              especialistas en Propiedad Intelectual iniciará la solicitud de registro ante el 
              Instituto Mexicano de la Propiedad Industrial.</p>
  
          </div>
  
          
  
      </div>

      <div class="columnPasos">

          <div style="text-align:end;" class="columPasos2">
              <img class="imgPasos" src="assets/img/registro_marca/five.png" alt="">
          </div>
  
          <div style="text-align:start" class="columPasos25">
  
            <h2 class="h2Pasos">Seguimiento del Trámite</h2>
            <p class="pPasos">El abogado a quien se asigne tu solicitud hará el debido seguimiento 
              del trámite, publicación en la Gaceta de la Propiedad Industrial, así como todas las 
              acciones legales necesarias para obtener tu registro.</p>
  
          </div>
  
          
  
      </div>

      <div class="columnPasos">

          <div style="text-align:end;" class="columPasos2">
              <img class="imgPasos" src="assets/img/registro_marca/six.png" alt="">
          </div>
  
          <div style="text-align:start" class="columPasos25">
  
            <h2 class="h2Pasos">Envío de Título</h2>
            <p class="pPasos">Luego de completado el trámite y obtenida la resolución de concesión, 
              te enviaremos el correspondiente título de marca en formato digital.</p>
  
          </div>
  
          
  
      </div>

    </div>

</div>


<div class="row" style="padding: 2vw; text-align: center;">



      <div class="columProducos">
          <mat-card style=" margin-left: 4vw;" class="example-card">
            <mat-card-header>
              
              <div style="text-align:center;">
                <h5 style="color:#c9369c; font-family: Montserrat;"> Validacion de Marca</h5>
              </div> 
          
            </mat-card-header>
            <mat-card-content>
              <div style="height: 1px; width: 100%; background-color: #000;"></div>
              <p style="color:#000;">
              Analisis Inicial para garantizar tu registro, Definicion de clases para 
              el <strong>Registro</strong>, Búsqueda Fonética Básica
              </p>
              <p style="color:#000;">
                  <del>$650.°°</del>
              </p>
              <p style="color:#000;">
                <b>$500.°°</b>
              </p>
            </mat-card-content>
            <mat-card-actions>
                <button mdbBtn type="button" gradient="purple" rounded="true" routerLink="/contactanos" mdbWavesEffect>Comprar Ahora</button>
            </mat-card-actions>
          </mat-card>
      </div>

      <div class="columProducos">
          <mat-card style=" margin-left: 4vw;" class="example-card">
            <mat-card-header>
              
              <div style="text-align:center;">
                <h5 style="color:#c9369c; font-family: Montserrat;margin-left: 1vw;"> Registro de Marca</h5>
              </div> 
          
            </mat-card-header>
            <mat-card-content>
              <div style="height: 1px; width: 100%; background-color: #000;"></div>
              <p style="color:#000;">
                Asesoría, Registro de <b>Marca</b>, Notificaciones
              </p>
              <p style="color:#000;">
                <del>$7,200.°°</del>
              </p>
              <p style="color:#000;">
                <b>$6,049.°°</b>
              </p>
            </mat-card-content>
            <mat-card-actions>
                <button mdbBtn type="button" gradient="purple" rounded="true" routerLink="/contactanos" mdbWavesEffect>Comprar Ahora</button>
            </mat-card-actions>
          </mat-card>
      </div>

      <div class="columProducos">
          <mat-card style=" margin-left: 4vw;" class="example-card">
              <mat-card-header>
                
                <div style="text-align:center;">
                  <h5 style="color:#c9369c; font-family: Montserrat; margin-left: 1.5vw;"> Diseño de Marca</h5>
                </div> 
            
              </mat-card-header>
              <mat-card-content>
                <div style="height: 1px; width: 100%; background-color: #000;"></div>
                <p style="color:#000;">
               Diseño, Manual del uso de la imagen <b>Institucional</b>, Tarjetas de presentacion,
               Hojas Membretadas
                </p>
                <p style="color:#000;">
                  <del>$5,200.°°</del>
                </p>
                <p style="color:#000;">
                  <b>$3,200.°°</b>
                </p>
              </mat-card-content>
              <mat-card-actions>
                  <button mdbBtn type="button" gradient="purple" rounded="true" routerLink="/contactanos" mdbWavesEffect>Comprar Ahora</button>
              </mat-card-actions>
          </mat-card>
      </div>

</div>


<!-- Default form contact -->
<form style="background-color: #ddd5ff;" class="text-center border border-light p-5">

    <p style="color:#c9369c; font-family: Fredoka One;" class="h4 mb-4">Contactanos</p>
  
    <!-- Name -->
    <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Nombre Completo" required>
  
    <!-- Email -->
    <input type="email" id="defaultContactFormEmail" class="form-control mb-4" placeholder="Correo Electronico" required>
  
    <!-- Subject -->
    <label style="font-family: Montserrat; color:#c9369c;">Que producto te Interesa</label>
    <select class="browser-default custom-select mb-4" required>
      <option value="" disabled>Elije la Opcion</option>
      <option value="1">Validacion de Marca</option>
      <option value="2">Registro de Marca</option>
      <option value="3">Diseño de Marca</option>
    </select>
  
    <!-- Message -->
    <div class="form-group">
      <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Message"></textarea>
    </div>
  
  
  
    <!-- Send button -->
    <button mdbBtn gradient="purple" rounded="true" mdbWavesEffect class="btn btn-info btn-block" type="submit">Enviar Informacion</button>
  
  </form>
  <!-- Default form contact -->

 
 <footer class="page-footer font-small unique-color-dark">

    <div style="background-color: #6351ce;">
      <div class="container">

        
        <div class="row py-4 d-flex align-items-center">

          
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h6 class="mb-0">¡Conoce nuestras Redes Sociales!</h6>
          </div>
          

          <div class="col-md-6 col-lg-7 text-center text-md-right">

         
            <a href="https://www.facebook.com/inovatix.org/" target="_blank" class="fb-ic">
              <mdb-icon fab icon="facebook" class="white-text mr-4"></mdb-icon>
            </a>
          
          </div>
          

        </div>
      

      </div>
    </div>

    <div class="container text-center text-md-left mt-5">

     
      <div class="row mt-3">

        
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

          
          <h6 class="text-uppercase font-weight-bold">Inovatix</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>Nuestro equipo 
              
          </p>
          <p><a href="https://www.facebook.com/inovatix.org/" target="_blank">
            <mdb-icon fab icon="facebook" class="white-text mr-1"></mdb-icon></a>
            <a href="https://www.facebook.com/inovatix.org/" target="_blank">
              Facebook
              </a>
          </p>

        </div>
       

        
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

          
          <h6 class="text-uppercase font-weight-bold">Nuestros Servicios</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          
          <p>
            <a routerLink="/proyectos">Principales Proyectos</a>
          </p>
          <p>
            <a routerLink="/tienda">Tienda Online</a>
          </p>
          <p>
            <a routerLink="/marca">Registro de Marca</a>
          </p>
          <p>
              <a routerLink="/desarrollo">Desarrollo Empresarial</a>
            </p>
            <p>
                <a routerLink="/contactanos">Contactanos</a>
              </p>

        </div>
        
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

         
          <h6 class="text-uppercase font-weight-bold">Contacto</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <mdb-icon fas icon="home" class="mr-3"></mdb-icon> Durango, Durango, Mexico
          </p>

          <p>
              <mdb-icon fas icon="print" class="mr-3"></mdb-icon>Loma De Huescarán #415 
            </p>
            <p style='text-indent: 4vw'>Fracc. Loma Dorada </p> 
  
          <p>
            <mdb-icon fas icon="envelope" class="mr-3"></mdb-icon> comercial@inovatix.com.mx
          </p>
          <p>
            <mdb-icon fas icon="phone" class="mr-3"></mdb-icon> +01 618 189 0440
          </p>
        
        </div>
        

      </div>
      

    </div>
   
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="https://www.inovatix.com.mx"> Inovatix.com.mx</a>
    </div>
   

  </footer>

