<header id="main-header" class="header">


    <div class="row1">
        <div class="column">

          <div class="colum2">

            <mat-icon class="iconHeader">call</mat-icon>
            <h4 class="h1tel">618-189-0440</h4>

          </div>
          <div class="colum2">

              <mat-icon class="iconEmail">email</mat-icon>
               <h4 class="h1tel">direccion@inovatix.com.mx</h4>

            </div>
        </div>
        <div class="column">

            <a href="https://www.facebook.com/inovatix.org/" target="_blank">
            <img class="imgFb"  src="assets/img/facebook.png" alt="">
            </a>
          
          
        </div>
       
      </div>
      <div class="divSepara"></div>

      <div class="row">
        <div class="columMenuLogo">

            <img class="imgLogo" src="assets/img/logo_ino.png" alt="">
        </div>
        <div class="columMenu">

            <button mat-button color="primary" routerLink="" class="btnMenuHome">Home</button>
            <button mat-button color="primary" routerLink="/proyectos" class="btnMenu">Principales Proyectos</button>
            <button mat-button color="primary" routerLink="/tienda" class="btnMenuTienda">Tienda en Linea</button>
            <button mat-button color="primary" routerLink="/marca" class="btnMenu">Registro de Marca</button>
            <button mat-button color="primary" routerLink="/desarrollo" class="btnMenu">Desarrollo empresarial</button>
            <button mat-button color="primary" routerLink="/tecnologias" class="btnMenuTec">Tecnologias</button>
            <button mat-button color="primary" routerLink="/contactanos" class="btnMenuTec">Contáctanos</button>
            <div class="divHamburgesa">
              <button class="btnHamburger" mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>menu</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button routerLink="" mat-menu-item >
                  <span>Home</span>
                </button>
                <button routerLink="/proyectos" mat-menu-item >
                  <span>Principales Proyectos</span>
                </button>
                <button routerLink="/tienda" mat-menu-item>
                  <span>Tienda en Linea</span>
                </button>
                <button routerLink="/marca" mat-menu-item>
                    <span>Registro de Marca</span>
                  </button>
                  <button routerLink="/desarrollo" mat-menu-item>
                      <span>Desarrollo Empresarial</span>
                    </button>
                    <button routerLink="/tecnologias" mat-menu-item>
                      <span>Tecnologias</span>
                    </button>
                    <button routerLink="/contactanos" mat-menu-item disabled>
                        <span>Contáctanos</span>
                      </button>
              </mat-menu></div>
        </div>
      </div>

   

</header>

<div style="margin-top:14%;"></div>
<div style="text-align: center;">
    <h1 class="h1Punt">Punto de Venta y Tienda en Linea</h1>
</div>

<div class="divMovileTienda">

    <img class="imgTienOnl animated pulse" style="margin-top: 5vw;" src="assets/img/tecnologias/tienda_online_tecnologia.png" alt="">
</div>

<div class="divEscritorioTienda">

    <img class="imgTienOnl animated pulse" style="margin-top: 5vw;" src="assets/img/tecnologias/diferente_forma_online.png" alt="">
</div>


 
<div class="row1">

  <div class="columnTecno">
    <h1 class="h1Colums">Punto de Venta</h1>
    <p class="pColums">Por definición el Punto de Venta o POS (Point of Sale) es el punto de contacto del 
      consumidor con las marcas o productos para su compra. Es el lugar idóneo donde las 
      marcas pueden posicionarse, sin embargo por la relevancia que ha tomado, el PDV va más allá.</p>

  </div>

  <div class="columnTecnoImg">
      <img class="imgColums animated pulse infinite" style="margin-top: 5vw;" src="assets/img/tecnologias/apps.png" alt="">
  </div>


  <div class="columnTecnoImg">
      <img class="imgColums animated pulse infinite" style="margin-top: 5vw;" src="assets/img/tecnologias/e-comrece.png" alt="">
  </div>

  <div class="columnTecno">
      <h1 class="h1Colums">Tienda Online</h1>
      <p class="pColums">Una tienda virtual o Webstore es un sitio web que vende productos o 
        servicios y por lo general tiene un carro de compra en línea asociado a ella. Con la 
        popularidad de Internet se ha producido un rápido aumento de tiendas web, las compras 
        en línea se han convertido en ventaja para los propietarios de tiendas al por menor. 
        En este tipo de tiendas las personas pueden comprar desde sus casas logrando tener más 
        poder ya que tienen una gran variedad de alternativas para elegir y no necesita caminar 
        grandes distancias para llegar a otras tiendas.</p>
  
    </div>

   
    

</div>

<div class="divApps">

  <div style="text-align: center; ">
    <h1 class="h1Apps">Aplicaciones Moviles</h1>
  </div>
    
    <p class="pApps">Aunque no parezca, las aplicaciones llevan tiempo entre nosotros. 
      Antes de empezar a diseñarlas, queremos que las conozcas: ¿Cuáles son sus tipos y características? 
      ¿Qué diferencias hay entre ellas y con una web móvil?
        Las aplicaciones —también llamadas apps— están presentes en los teléfonos desde hace tiempo; de 
        hecho, ya estaban incluidas en los sistemas operativos de Nokia o Blackberry años atrás. Los 
        móviles de esa época, contaban con pantallas reducidas y muchas veces no táctiles, y son los 
        que ahora llamamos feature phones, en contraposición a los smartphones, más actuales.</p>
    
    
    
      <div style="text-align: center;">
         <img class="imgColums animated pulse infinite" style="margin-top: 5vw;" src="assets/img/tecnologias/apps_moviles.png" alt="">
      </div>
</div>






<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">

    <div style="background-color: #6351ce;">
      <div class="container">

        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">

          <!-- Grid column -->
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h6 class="mb-0">¡Conoce nuestras Redes Sociales!</h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right">

            <!-- Facebook -->
            <a href="https://www.facebook.com/inovatix.org/" target="_blank" class="fb-ic">
              <mdb-icon fab icon="facebook" class="white-text mr-4"></mdb-icon>
            </a>
          
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row-->

      </div>
    </div>

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

      <!-- Grid row -->
      <div class="row mt-3">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">Inovatix</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>Nuestro equipo 
              
          </p>
          <p><a href="https://www.facebook.com/inovatix.org/" target="_blank">
            <mdb-icon fab icon="facebook" class="white-text mr-1"></mdb-icon></a>
            <a href="https://www.facebook.com/inovatix.org/" target="_blank">
              Facebook
              </a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Nuestros Servicios</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          
          <p>
            <a routerLink="/proyectos">Principales Proyectos</a>
          </p>
          <p>
            <a routerLink="/tienda">Tienda Online</a>
          </p>
          <p>
            <a routerLink="/marca">Registro de Marca</a>
          </p>
          <p>
              <a routerLink="/desarrollo">Desarrollo Empresarial</a>
            </p>
            <p>
                <a routerLink="/contactanos">Contáctanos</a>
              </p>

        </div>
        <!-- Grid column -->

      

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contacto</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <mdb-icon fas icon="home" class="mr-3"></mdb-icon> Durango, Durango, Mexico
          </p>

          <p>
              <mdb-icon fas icon="print" class="mr-3"></mdb-icon>Loma De Huescarán #415 
            </p>
            <p style='text-indent: 4vw'>Fracc. Loma Dorada </p> 
  
          <p>
            <mdb-icon fas icon="envelope" class="mr-3"></mdb-icon> comercial@inovatix.com.mx
          </p>
          <p>
            <mdb-icon fas icon="phone" class="mr-3"></mdb-icon> +01 618 189 0440
          </p>
        
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="https://www.inovatix.com.mx"> Inovatix.com.mx</a>
    </div>
    <!-- Copyright -->

  </footer>
<!-- Footer -->
