<header id="main-header" class="header">


    <div class="row1">
        <div class="column">

          <div class="colum2">

            <mat-icon class="iconHeader">call</mat-icon>
            <h4 class="h1tel">618-189-0440</h4>

          </div>
          <div class="colum2">

              <mat-icon class="iconEmail">email</mat-icon>
               <h4 class="h1tel">direccion@inovatix.com.mx</h4>

            </div>
        </div>
        <div class="column">

            <a href="https://www.facebook.com/inovatix.org/" target="_blank">
            <img class="imgFb"  src="assets/img/facebook.png" alt="">
            </a>
          
          
        </div>
       
      </div>
      <div class="divSepara"></div>

      <div class="row">
        <div class="columMenuLogo">

            <img class="imgLogo" src="assets/img/logo_ino.png" alt="">
        </div>
        <div class="columMenu">

            <button mat-button color="primary" routerLink="" class="btnMenuHome">Home</button>
            <button mat-button color="primary" routerLink="/proyectos" class="btnMenu">Principales Proyectos</button>
            <button mat-button color="primary" routerLink="/tienda" class="btnMenuTienda">Tienda en Linea</button>
            <button mat-button color="primary" routerLink="/marca" class="btnMenu">Registro de Marca</button>
            <button mat-button color="primary" routerLink="/desarrollo" class="btnMenu">Desarrollo empresarial</button>
            <button mat-button color="primary" routerLink="/contactanos" class="btnMenu">Contactanos</button>
            <div class="divHamburgesa">
              <button class="btnHamburger" mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>menu</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button routerLink="" mat-menu-item >
                  <span>Home</span>
                </button>
                <button routerLink="/proyectos" mat-menu-item >
                  <span>Principales Proyectos</span>
                </button>
                <button routerLink="/tienda" mat-menu-item>
                  <span>Tienda en Linea</span>
                </button>
                <button routerLink="/marca" mat-menu-item>
                    <span>Registro de Marca</span>
                  </button>
                  <button routerLink="/desarrollo" mat-menu-item>
                      <span>Desarrollo Empresarial</span>
                    </button>
                    <button routerLink="/contactanos" mat-menu-item disabled>
                        <span>Contactanos</span>
                      </button>
              </mat-menu></div>
        </div>
      </div>

   

</header>

<div style="margin-top:14%;"></div>

 <!-- Footer -->
 <footer class="page-footer font-small unique-color-dark">

    <div style="background-color: #6351ce;">
      <div class="container">

        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">

          <!-- Grid column -->
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h6 class="mb-0">¡Conoce nuestras Redes Sociales!</h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right">

            <!-- Facebook -->
            <a href="https://www.facebook.com/inovatix.org/" target="_blank" class="fb-ic">
              <mdb-icon fab icon="facebook" class="white-text mr-4"></mdb-icon>
            </a>
          
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row-->

      </div>
    </div>

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

      <!-- Grid row -->
      <div class="row mt-3">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">Inovatix</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>Nuestro equipo 
              
          </p>
          <p><a href="https://www.facebook.com/inovatix.org/" target="_blank">
            <mdb-icon fab icon="facebook" class="white-text mr-1"></mdb-icon></a>
            <a href="https://www.facebook.com/inovatix.org/" target="_blank">
              Facebook
              </a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Nuestros Servicios</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          
          <p>
            <a routerLink="/proyectos">Principales Proyectos</a>
          </p>
          <p>
            <a routerLink="/tienda">Tienda Online</a>
          </p>
          <p>
            <a routerLink="/marca">Registro de Marca</a>
          </p>
          <p>
              <a routerLink="/desarrollo">Desarrollo Empresarial</a>
            </p>
            <p>
                <a routerLink="/contactanos">Contactanos</a>
              </p>

        </div>
        <!-- Grid column -->

      

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contacto</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <mdb-icon fas icon="home" class="mr-3"></mdb-icon> Durango, Durango, Mexico
          </p>

          <p>
              <mdb-icon fas icon="print" class="mr-3"></mdb-icon>Loma De Huescarán #415 
            </p>
            <p style='text-indent: 4vw'>Fracc. Loma Dorada </p> 
  
          <p>
            <mdb-icon fas icon="envelope" class="mr-3"></mdb-icon> comercial@inovatix.com.mx
          </p>
          <p>
            <mdb-icon fas icon="phone" class="mr-3"></mdb-icon> +01 618 189 0440
          </p>
        
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="https://www.inovatix.com.mx"> Inovatix.com.mx</a>
    </div>
    <!-- Copyright -->

  </footer>
<!-- Footer -->
