
<div style="margin-top:9%;"></div>


<div style="text-align: center;">
  <h1 style="font-family: Montserrat; font-size: 4vw; color: #c9369c;">¡Inovatix sera tu soporte en linea!</h1>
  <p style="color:#c9369c; font-family: Fredoka One;" class="h4 mb-4">Contáctanos</p>
  <img style="height: 30vw; width: 30vw;" src="assets/img/soporte.png" alt="">

</div>

<!-- Default form contact -->
<form class="text-center">

  
    <!-- Name -->
    <input type="text" id="defaultContactFormNombre" class="form-control mb-4" [(ngModel)]="name" name="name" placeholder="Nombre Completo" required>

    <!-- Name -->
    <input type="text" id="defaultContactFormEmpresa" class="form-control mb-4" [(ngModel)]="empresa" name="empresa" placeholder="Nombre de la Empresa" required>
    <!-- Name -->
    <input type="text" id="defaultContactFormTelefono" class="form-control mb-4" [(ngModel)]="telefono" name="telefono" placeholder="Telefono" required>
  
    <!-- Email -->
    <input type="email" id="defaultContactFormEmail" class="form-control mb-4" [(ngModel)]="email" name="email" placeholder="Correo Electrónico" required>
  
    <!-- Subject -->
    <label style="font-family: Montserrat; color:#c9369c;">¿Qué producto te Interesa?</label>
    <select class="browser-default custom-select mb-4" [(ngModel)]="producto" name="producto" required>
      <option value="" disabled>Elije la Opción</option>
      <option value="Plan de negocios">Plan de negocios</option>
      <option value="Tienda en Linea">Tienda en Linea</option>
      <option value="Capacitación">Capacitación</option>
      <option value="Desarrollo de Franquicias">Desarrollo de Franquicias</option>
      <option value="Punto de Venta">Punto de Venta</option>
      <option value="Aplicaciones Moviles">Aplicaciones Moviles</option>
      <option value="Paginas Web">Paginas Web</option>
      <option value="Software a Medida">Software a Medida</option>
      <option value="Equipo de Computo">Equipo de Computo</option>
      <option value="Registro de marca">Registro de marca</option>
      <option value="Diseño de Logotipo">Diseño de Logotipo</option>
      <option value="Imprenta">Imprenta</option>
      <option value="Mobiliario">Mobiliario</option>
    </select>
  
    <!-- Message -->
    <div class="form-group">
      <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" [(ngModel)]="mensaje" name="mensaje" rows="3" placeholder="Platícanos que de todo esto fue lo que te interesó" required></textarea>
    </div>
  
  
  
    <!-- Send button -->
    <button mdbBtn gradient="purple" rounded="true" mdbWavesEffect class="btn btn-info btn-block" type="submit" data-toggle="modal" data-target="#basicExample" (click)="onSubmit()" (click)="frame.show()">Enviar Información</button>
  
  </form>
  <!-- Default form contact  -->

  

<div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead">Informacion Enviada</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <i class="fas fa-check fa-4x mb-3 animated rotateIn"></i>
          <p>la informacion que haz proporcionado ha sido enviada espera nuestra llamada Gracias</p>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn color="primary" outline="true" class="waves-effect" mdbWavesEffect (click)="frame.hide()">Cerrar</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>

 