
<div class="dicMargin"></div>

<div class="divTourMovil">
    <h1 class="h1TourMovil">Tour Inovatix, Creamos tu Tienda en linea</h1>
    <h2 class="h2TourMovil">Impulsa el crecimiento del negocio con tu herramienta de e-comerce</h2>
</div>




<mat-grid-list cols="2" rowHeight="30vw">
    <mat-grid-tile
        [colspan]="1"
        [rowspan]="1"
        >
            <div class="columTour">

              <h1 class="h1Tour">
                <b>Tour Inovatix</b>
              </h1>
              <p class="pTour">Tienda en Linea</p>

              <div style="text-align:end">
                  <p class="pDescubreTour"> <strong>Impulsa el crecimiento del negocio con tu herramienta de e-comerce</strong></p>
              </div>

              <div class="columTour">

                <div style="height:8vw; width: 1px; background-color:rgb(66, 55, 212); float: left; margin-left: 23%;"></div>

              </div>

              <div class="columTour">

                <div style="width: 30vw; text-align: start; margin-left: 15vw;">
                  <p class="pRecorridoTour">Nuestra plataforma de comercio electrónico basada en 
                    la nube y permite realizar ventas mayoristas y minoristas de manera digital. 
                    Nuestra tecnología de próxima generación, medios de pago y envíos pueden darle
                     vida a su visión empresarial.</p>

                     <div style="text-align:center;">

                        <button mdbBtn class="btnComparAhora" type="button" gradient="purple" routerLink="/contactanos" rounded="true" mdbWavesEffect>Comprar Ahora</button>

                     </div>


                </div>

                
              </div>
              

            </div>

    </mat-grid-tile>


    <mat-grid-tile
    [colspan]="1"
    [rowspan]="1"
    >
      
        <img class="imgTour" src="/assets/img/tienda_online/ecomerse1.jpg" alt="">

    </mat-grid-tile>
  </mat-grid-list>

  <div class="cardClass">
    <div class="card card-image" style=" background-image: linear-gradient(to right, #00B4DB , #0083B0);">

        <!-- Content -->
        <div class="text-white text-center d-flex align-items-center  py-5 px-4">
          <div>
            <h5 class="blank-text">Porque crear con <strong>INOVATIX</strong> tu plataforma de <b>Tienda en linea</b></h5>
            <h3 class="card-title pt-2"><strong>Inovatix Consultoría</strong></h3>
            <p>Inovatix es una empresa versátil inmersa en las más modernas plataformas de comercio 
              electrónico en la nube. Se extiende más allá del carrito de compras para cada experiencia 
              personal, incluyendo correo electrónico, vista optimizada mara móviles Android y Apple, 
              módulos de marketing digital, cupones de descuentos, chat en línea y mucho más.</p>
            
          </div>
        </div>
      
      </div>

  </div>


  <mat-grid-list cols="2" rowHeight="35vw">

      <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      >
        <div style="text-align:center;">

          <img class="imgDisenoResp" src="/assets/img/tienda_online/diseno_resp.png" alt="">
        
        </div>

      </mat-grid-tile>


      <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      >

      <div class="columDisenoResp">

        <h1 class="hDisenoResp" style="font-Family:Quicksand">Que tu Tienda cuente con <strong>Diseño Responsivo</strong></h1>
        <p class="pDisenoResp" style="font-Family:Montserrat">El Diseño tambien llamado Responsive Design, Diseño responsivo o adaptable sirve para que un usuario pueda entrar a una 
          página web desde un ordenador o un teléfono móvil sin que su capacidad para navegar por ella
           se vea perjudicada. Busca conseguir siempre la mejor experiencia de usuario, independientemente
           el aparato que use para entrar a una página web, y no duda en modificar todo cuanto sea 
           necesario para conseguirlo.</p>

      </div>


      </mat-grid-tile>



  </mat-grid-list>



  <mat-grid-list cols="2" rowHeight="35vw">

      <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      >


      <div style="text-align: end;" class="columDisenoResp">

          <h1 class="hCarrito" style="font-Family:Quicksand">Llegue al mercado rápidamente</h1>
          <p class="pCarrito" style="font-Family:Montserrat"><strong>Nuestras Plataformas</strong> son tan ágiles y fáciles de usar, que 
            puede lanzar su sitio rápidamente, adaptarse a las necesidades del mercado en tiempo real 
            y lograr un retorno de la inversión más rápido que nunca. Y nuestros socios de soluciones 
            con experiencia ofrecen paquetes especiales de diseño e implementación para pequeñas 
            empresas.</p>
  
        </div>
       
      </mat-grid-tile>


      <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      >

      
      <div style="text-align:center;">

          <img class="imgCarrito" src="/assets/img/tienda_online/carrito_ch.png" alt="">
        
        </div>


      </mat-grid-tile>



  </mat-grid-list>

  <mat-grid-list cols="2" rowHeight="35vw">

      <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      >

      <div style="text-align:center;">

          <img class="imgCarrito" src="/assets/img/tienda_online/ingresos.png" alt="">
        
        </div>


     
      </mat-grid-tile>


      <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      >

      <div style="text-align: start;" class="columDisenoResp">

          <h1 class="hIngresos" style="font-Family:Quicksand">Impulsar el crecimiento de nuevos ingresos</h1>
          <p class="pIngresos" style="font-Family:Montserrat">Integre múltiples experiencias de compra, 
            incluyendo Amazon y eBay. Incluso puede <strong>administrar todo el inventario</strong> y las ventas a 
            través de un solo sistema de control y distribución de productos para sus tiendas web.</p>
  
        </div>
       
      
    
      </mat-grid-tile>



  </mat-grid-list>

 

<div class="divProyectos">
   <div class="cardClass">
   <!-- Card -->
      <div class="card card-image" style="background-image: linear-gradient(to right, #12c2e9 , #c471ed,#f64f59);">

        <!-- Content -->
        <div class="text-white text-center align-items-center py-5 px-4">
          <div style="text-align:center;">
            <h5 class="blank-text"><i  class="fas fa-chart-pie"></i> Inovatix</h5>
            <h3 class="card-title pt-2"><strong>¿Como te Podemos Ayudar?</strong></h3>
            <p>Nuestros representantes están listos para 
                mostrarle cómo <strong>Inovatix </strong> puede impulsar tu negocio ... y sus resultados.</p>
          </div>
        </div>

      </div>
      <!-- Card -->
  </div>

   <!-- Default form contact -->
<form style="display:none;" class="text-center  p-5">

  
    <!-- Name -->
    <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Nombre Completo" required>
  
    <!-- Email -->
    <input type="email" id="defaultContactFormEmail" class="form-control mb-4" placeholder="Correo Electronico" required>
  
  
    <!-- Message -->
    <div class="form-group">
      <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Mensaje"></textarea>
    </div>
  
  
  
    <!-- Send button -->
    <button mdbBtn gradient="purple" rounded="true" mdbWavesEffect class="btn btn-info btn-block" type="submit">Enviar Informacion</button>
  
  </form>
  <!-- Default form contact -->

</div>

