@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Montserrat|Quicksand');
@import url('https://fonts.googleapis.com/css?family=Hammersmith+One');

@media screen and (max-width:640px) {

  .dicMargin{
    margin-top: 15%;
  }

  .iconHeader{
    
    margin-left: 40%;
    color: rgb(105, 54, 126);
    float: left;
    display: none;
    
}

.h1tel{
   
  display: none;
    color: rgb(105, 54, 126);
    font-family: Quicksand;
    margin-left: 2%;
    font-size: .7vw;
   

}

.iconEmail{
  display: none;
  color: rgb(105, 54, 126);
    float: left;
    width: 20px;
    
    

}

.column {
  display: none;
    margin-top: 1vw;
    float: left;
    width: 50%;
  }

  

.colum2{
  display: none;
    float: left;
    width: 31%;
}


  .row1:after {
    
    content: "";
    display: none;
    clear: both;
  }

  #main-header {
    background: #FFF;
    color: white;
    height: 15vw;
    z-index: 1;
    width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
    left: 0; /* Posicionamos la cabecera al lado izquierdo */
    top: 0; /* Posicionamos la cabecera pegada arriba */
    position: fixed; /* Hacemos que la cabecera tenga una posición fija */
  }

  .divSepara{
    display: none;
    height: 1px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5px;
    background-color: rgb(105, 54, 126);
}

.columnMi{
  float: left;
  width: 100%;
  height: 60vw;
  text-align: justify;
  
  background-color: rgb(243, 243, 243);
}

.columnMimi{
  text-align: justify;
  float: left;
  width: 100%;
   height: 60vw;
  
  background-color: rgb(243, 243, 243);
}



.columMenu{
  float: left;
  width: 70%;
  text-align: right;
  margin-top: 1.5vw;
}

.columMenuLogo{
  float: left;
  width: 30%;
  text-align: center;
  
}

.btnMenu{
  display: none;
  color: #000;
  width: 12vw;
  height: 2.5vw;
  font-size: .9vw;
  font-family: Montserrat;

}

.btnMenuHome{
  display: none;
  height: 2.5vw;
  color: #000;
  width: 7vw;
  font-size: 1vw;
  font-family: Montserrat;

}

.btnMenuTienda{
  display: none;
  height: 2.5vw;
  color: #000;
  width: 12vw;
  font-size: .9vw;
  font-family: Montserrat; 
}
.imgLogo{
    height: 12vw;
    margin-left: 1vw;
    margin-top: .8vw;
}



.btnHamburger{
  color: rgb(105, 54, 126);
  margin-right: 10%;
  
}

.divTourMovil{
  text-align: center;
}

.h1TourMovil{
  color: rgb(105, 54, 126);
  font-family: Fredoka One;
  font-size: 3vw;
}

.h2TourMovil{

  color: rgb(41, 38, 238);
  font-family: Montserrat;
  font-size: 2vw;

}

.columTour{
  text-align: center;
  
  width: 100%;
  
}

.h1Tour{
  display: none;
  font-family: Montserrat;
  color: rgb(105, 54, 126);
  font-size: 3vw;
  height: 2vw;
}

.pTour{
  display: none;
  font-family: Montserrat;
  color: #1d21ff;
  font-size: 1.5vw;
  margin-left: 20%;
  height: 2vw;
}

.pDescubreTour{
  display: none;
  padding-left: 20%;
  padding-right: 10%;
  font-size: 1vw;
  font-family: Quicksand;
}

.pRecorridoTour{
  padding-top: 1vw;
  font-family: Montserrat;
  font-size: 1.5vw;
  color: #000;
  width: 100%;
  
}

.btnComparAhora{
  padding: 3vw;
  font-size: 2vw;
}

.imgTour{
  height: 50vw;
  padding-right: 50vw;
}



.divProyectos{
  background-image: url('./img/fondo-proyectos.png');
  height: 190vw;
  background-size: 250%;
}




}
@media screen and (max-width:1024px) and (min-width:640px) {
  
  .dicMargin{
    margin-top: 12%;
  }

  .iconHeader{
    display: none;
    margin-left: 40%;
    color: rgb(105, 54, 126);
    float: left;
    
}

.h1tel{
   
  display: none;
    color: rgb(105, 54, 126);
    font-family: Quicksand;
    margin-left: 2%;
    font-size: .7vw;
   

}

.iconEmail{
  display: none;
  color: rgb(105, 54, 126);
    float: left;
    width: 20px;
    
    

}

.column {
    margin-top: 1vw;
    float: left;
    width: 50%;
    display: none;
  }

.colum2{
    float: left;
    width: 31%;
    display: none;
}


  .row1:after {
    
    content: "";
    display: none;
    clear: both;
  }

  #main-header {
    background: #FFF;
    color: white;
    height: 10vw;
    z-index: 1;
    width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
    left: 0; /* Posicionamos la cabecera al lado izquierdo */
    top: 0; /* Posicionamos la cabecera pegada arriba */
    position: fixed; /* Hacemos que la cabecera tenga una posición fija */
  }

  .divSepara{
    height: 1px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5px;
    background-color: rgb(105, 54, 126);
    display: none;
}


.columMenu{
  float: left;
  width: 70%;
  text-align: right;
  margin-top: 2vw;
}

.columMenuLogo{
  float: left;
  width: 30%;
 
  
}

.btnMenu{
  display: none;
  color: #000;
  width: 12vw;
  height: 2.5vw;
  font-size: .9vw;
  font-family: Montserrat;

}

.btnMenuHome{
  display: none;
  height: 2.5vw;
  color: #000;
  width: 7vw;
  font-size: 1vw;
  font-family: Montserrat;

}

.btnMenuTienda{
  display: none;
  height: 2.5vw;
  color: #000;
  width: 12vw;
  font-size: .9vw;
  font-family: Montserrat; 
}
.imgLogo{
    height: 9vw;
    margin-left: 1vw;
    margin-top: .5vw;
}


.btnHamburger{
  color: rgb(105, 54, 126);
  margin-right: 15%;
}


.columTour{
  text-align: center;
  
  width: 100%;
  
}
.divTourMovil{
  display: none;
}
.h1Tour{
  padding-top: 1vw;
  font-family: Montserrat;
  color: rgb(105, 54, 126);
  font-size: 2vw;
  height: 2vw;
}

.pTour{
  font-family: Montserrat;
  color: #1d21ff;
  font-size: 1.5vw;
  margin-left: 20%;
  height: 2vw;
}

.pDescubreTour{
  padding-left: 20%;
  padding-right: 10%;
  font-size: 1.5vw;
  font-family: Quicksand;
}

.pRecorridoTour{
  font-family: Montserrat;
  font-size: 1.2vw;
  color: #000;
  width: 100%;
  
}

.btnComparAhora{
  padding: 1vw;
  font-size: 1vw;
}

.imgTour{
  height: 50vw;
  padding-right: 50vw;
}

.divProyectos{
  background-image: url('./img/fondo-proyectos.png');
  height: 75vw;
  background-size: 100%;
}


}
@media screen and (min-width:1024px) {

  .dicMargin{
    margin-top: 10%;
  }
 
 
  .iconHeader{
    
    margin-left: 60%;
    color: rgb(105, 54, 126);
    float: left;
    
}

.h1tel{
   
    display: inline;
    color: rgb(105, 54, 126);
    font-family: Quicksand;
    
    font-size: .7vw;
   

}

.iconEmail{
  color: rgb(105, 54, 126);
    float: left;
    width: 20px;
    margin-left: 28%;
    
    

}

.column {
    margin-top: 1vw;
    float: left;
    text-align: right;
    width: 50%;
  }

.colum2{
    float: left;
    width: 31%;
}


  .row1:after {
    
    content: "";
    display: table;
    clear: both;
  }

  #main-header {
    background: #FFF;
    color: white;
    height: 9vw;
    z-index: 1;
    width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
    left: 0; /* Posicionamos la cabecera al lado izquierdo */
    top: 0; /* Posicionamos la cabecera pegada arriba */
    position: fixed; /* Hacemos que la cabecera tenga una posición fija */
  }

  .divSepara{
    height: 1px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5px;
    background-color: rgb(105, 54, 126);
}


  
  .columMenu{
    float: left;
    width: 70%;
    text-align: center;
    margin-top: 1.5vw;
  }

  .columMenuLogo{
    float: left;
    width: 30%;
    text-align: center;
    
  }

  .btnMenu{

    color: #000;
    width: 12vw;
    height: 2.5vw;
    font-size: .9vw;
    font-family: Montserrat;

  }

  .btnMenuHome{
    height: 2.5vw;
    color: #000;
    width: 7vw;
    font-size: 1vw;
    font-family: Montserrat;
  
  }

  .btnMenuTienda{
    height: 2.5vw;
    color: #000;
    width: 12vw;
    font-size: .9vw;
    font-family: Montserrat; 
  }
  .imgLogo{
      height: 4vw;
      margin-left: 1vw;
      margin-top: .5vw;
  }

  .divHamburgesa{
    display: none;
  }

  .columTour{
    text-align: center;
    
    width: 100%;
  }

  .divTourMovil{
    display: none;
  }
  
  .h1Tour{
    font-family: Montserrat;
    color: rgb(105, 54, 126);
    font-size: 3vw;
    height: 2vw;
  }
  
  .pTour{
    font-family: Montserrat;
    color: #1d21ff;
    font-size: 2vw;
    margin-left: 20%;
    height: 2vw;
  }
  
  .pDescubreTour{
    padding-left: 30%;
    padding-right: 20%;
    font-family: Quicksand;
  }
  
  .pRecorridoTour{
    font-family: Montserrat;
    font-size: 1vw;
    color: #000;
    width: 100%;
    
  }
  
  .imgTour{
    height: 50vw;
    padding-right: 50vw;
  }

  .divProyectos{
    background-image: url('./img/fondo-proyectos.png');
    height: 45vw;
    background-size: 100%;
  }
  
  
}

.header{
    
    background-color: rgba(0, 0, 0, 0.411);
   
}
.imgFb{
  width: 1.5vw;
  margin-right: 7%;
}



.cardClass{
  width: 80%;
  margin-left: 10vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.imgDisenoResp{
  height: 40vw;
  image-rendering: auto;
}

.columDisenoResp{
  width: 100%;

}

.pDisenoResp{
  font-size: 1.2vw;
  padding-right: 5%;
}

.hDisenoResp{
  color: rgb(105, 54, 126);
  font-size: 2.3vw;
}

.imgCarrito{
  height: 30vw;
  image-rendering: auto;
}

.hCarrito{
   color: rgb(105, 54, 126);
  font-size: 2.3vw;
}

.pCarrito{
  font-size: 1.2vw;
  padding-left: 5%;
}

.hIngresos{
  color: rgb(105, 54, 126);
  font-size: 2.3vw;
}

.pIngresos{
  font-size: 1.2vw;
  padding-right: 5%;
}


