
  <header id="main-header" class="header">


        <div class="row1">
            <div class="column">
    
              <div class="colum2">
    
                <mat-icon class="iconHeader">call</mat-icon>
                <h4 class="h1tel">618-189-0440</h4>
    
              </div>
              <div class="colum2">
    
                  <mat-icon class="iconEmail">email</mat-icon>
                   <h4 class="h1tel">comercial@inovatix.com.mx</h4>
    
                </div>
            </div>
            <div class="column">
    
                <a href="https://www.facebook.com/inovatix.org/" target="_blank">
                <img class="imgFb"  src="assets/img/facebook.png" alt="">
                </a>
              
              
            </div>
           
          </div>
          <div class="divSepara"></div>
    
          <div class="row">
            <div class="columMenuLogo">
    
                <img class="imgLogo" src="assets/img/logo_ino.png" alt="">
            </div>
            <div class="columMenu">
    
                <button mat-button color="primary" routerLink="" class="btnMenuHome">Home</button>
                <button mat-button color="primary" routerLink="/proyectos" class="btnMenu">Principales Proyectos</button>
                <button mat-button color="primary" routerLink="/tienda" class="btnMenuTienda">Tienda en Linea</button>
                <button mat-button color="primary" routerLink="/marca" class="btnMenu">Registro de Marca</button>
                <button mat-button color="primary" routerLink="/desarrollo" class="btnMenu">Desarrollo empresarial</button>
                <button mat-button color="primary" routerLink="/contactanos" class="btnMenu">Contactanos</button>
                <div class="divHamburgesa">
                  <button class="btnHamburger" mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>menu</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button routerLink="" mat-menu-item disabled>
                      <span>Home</span>
                    </button>
                    <button routerLink="/proyectos" mat-menu-item >
                      <span>Principales Proyectos</span>
                    </button>
                    <button routerLink="/tienda" mat-menu-item>
                      <span>Tienda en Linea</span>
                    </button>
                    <button routerLink="/marca" mat-menu-item>
                        <span>Registro de Marca</span>
                      </button>
                      <button routerLink="/desarrollo" mat-menu-item>
                          <span>Desarrollo Empresarial</span>
                        </button>
                        <button routerLink="/contactanos" mat-menu-item>
                            <span>Contactanos</span>
                          </button>
                  </mat-menu></div>
            </div>
          </div>
    
       
    
    </header>


<div class="divSepaIni"></div>

    <mdb-carousel class="carousel slide" >
        <mdb-carousel-item>
          <div class="view">
            <video class="video-fluid" autoplay loop>
              <source src="https://mdbootstrap.com/img/video/animation-intro.mp4" type="video/mp4" />
            </video>
            <div class="mask rgba-indigo-light waves-light" mdbWavesEffect></div>
          </div>
      
          <div class="carousel-caption">
            <div class="animated fadeInDown">
                <img class="imgLogoGrde" src="assets/img/logo_ino_contor.png" alt="">
             
            </div>
          </div>
        </mdb-carousel-item>
    </mdb-carousel>
  
   


<div class="divValores">

  <div class="rowMi">
    <div class="columnMimi">
      <img class="imgMis" src="assets/img/descri.png" alt="">
      <h3 class="h3Mision">Nosotros</h3>
      <p class="pMis"><br>Somos una empresa mexicana dedicada a la consultoría
          empresarial desde el 2017 con el objetivo de brindar una plataforma
          integral de servicios administrativos, tecnológicos y operativos para
          el desarrollo de PyMEs… 
            </p>
            <div style="text-align: center;">
                <h6 style="color: #87159c; font-family: Montserrat; font-size: 1w; cursor: pointer;" (click)="abrirModal()">Ver Mas</h6>
            </div>
            
    </div>

    <div class="columnSepa"></div>
    
    <div class="columnMi">
      <img class="imgMis" src="assets/img/mision.png" alt="">
      <div>
          <h3 class="h3Mision">Fortalezas</h3>
      </div>
      
      <div style="width:100%; margin-top: 5%;">
        <div class="columFort">
              <div class="rowFort">
          
              <h4 class="h1Fort"><mat-icon class="iconFort">linear_scale</mat-icon>
                Pasion</h4>

              </div>
              <div class="rowFort">
          
                <h4 class="h1Fort"><mat-icon class="iconFort">linear_scale</mat-icon>
                Creatividad</h4>

              </div>
              <div class="rowFort">
          
                <h4 class="h1Fort"><mat-icon class="iconFort">linear_scale</mat-icon>
                Profesionalismo</h4>
      
              </div>
              <div class="rowFort">
          
                <h4 class="h1Fort"><mat-icon class="iconFort">linear_scale</mat-icon>
                Innovacion</h4>
      
              </div>
              
            </div>
            <div class="columFort">
                <div class="rowFort">
          
                    <h4 class="h1Fort"><mat-icon class="iconFort">linear_scale</mat-icon>
                      Calidad</h4>
          
                  </div>
                  <div class="rowFort">
              
                    <h4 class="h1Fort"><mat-icon class="iconFort">linear_scale</mat-icon>
                    Mejora Continua</h4>
          
                  </div>
                  <div class="rowFort">
              
                    <h4 class="h1Fort"><mat-icon class="iconFort">linear_scale</mat-icon>
                      Excelencia</h4>
            
                    </div>
                    <div class="rowFort">
              
                    <h4 class="h1Fort"><mat-icon class="iconFort">linear_scale</mat-icon>
                      Compormiso</h4>
            
                    </div>

            </div>

      </div>
    
   
    </div>
    
    <div class="columnSepa"></div>

    <div class="columnMi">
      <img class="imgMis" src="assets/img/vision.png" alt="">
      <h3 class="h3Mision">Vision</h3>
      <p class="pMis"><br>Ser una empresa líder en el desarrollo de empresas con presencia 
        en México, Estados Unidos y Canadá caracterizadas por brindar soluciones 
        integrales para el desarrollo de negocios en las áreas de innovación, comercio 
        electrónico y estandarización de procesos. </p>
    </div>
   
  </div>
</div>

<div class="rowServicios">
  <div class="columServUno">
      <h1 class="h1Serv"><font size="20">“</font>Desarrollamos tu </h1>
   <div class="divAlign">
      <h1 class="h1ServN">Negocio...</h1>
      

   </div>
      
      <p class="pServ">Desde su inicio con tu <strong>plan de negocio</strong> , imagen institucional y registro de tu
          marca, consolidación legal y fiscal hasta la implementación de sistemas
          informáticos, puntos de venta, metodologías de calidad, marketing y
          comercio electrónico mediante tu propia tienda en línea,
          equipamiento tecnológico y mucho más”. </p>

  </div>
  <div class="columServDos">

    <div class="columServBtn">

        <img class="imgServ" src="assets/img/project.png" alt="">
        <h1 class="h1ServColum">Administracion de Proyectos</h1>

        <div class="justificar">
            <p class="pServColum">Logra tus objetivos, con metodologías internacionales.</p>
        </div>
        

        <img class="imgServ" src="assets/img/store.png" alt="">
        <h1 class="h1ServColum">Tienda en Linea</h1>
        <div class="justificar">
            <p class="pServColum">Vende en todo el mundo a través de intenet.</p>
        </div>

    </div>
    <div class="columServBtn">

        <img class="imgServ" src="assets/img/mobile-app.png" alt="">
        <h1 class="h1ServColum">Aplicaciones Moviles</h1>
        <div class="justificar">
            <p class="pServColum">Disponible para Google Play y Apple Store.</p>
        </div>

        <img class="imgServ" src="assets/img/logo_flor.png" alt="">
        <h1 class="h1ServColum">Registramos tu Marca</h1>
        <div class="justificar">
            <p class="pServColum">Registro ante el IMPI sin citas ni papeles, trámite inmediato.</p>
        </div>

    </div>

  </div>
</div>


<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">

    <div style="background-color: #6351ce;">
      <div class="container">

        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">

          <!-- Grid column -->
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h6 class="mb-0">¡Conoce nuestras Redes Sociales!</h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right">

            <!-- Facebook -->
            <a href="https://www.facebook.com/inovatix.org/" target="_blank" class="fb-ic">
              <mdb-icon fab icon="facebook" class="white-text mr-4"></mdb-icon>
            </a>
          
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row-->

      </div>
    </div>

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

      <!-- Grid row -->
      <div class="row mt-3">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">Inovatix</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>Nuestro equipo 
              
          </p>
          <p><a href="https://www.facebook.com/inovatix.org/" target="_blank">
            <mdb-icon fab icon="facebook" class="white-text mr-1"></mdb-icon></a>
            <a href="https://www.facebook.com/inovatix.org/" target="_blank">
              Facebook
              </a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Nuestros Servicios</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          
          <p>
            <a routerLink="/proyectos">Principales Proyectos</a>
          </p>
          <p>
            <a routerLink="/tienda">Tienda Online</a>
          </p>
          <p>
            <a routerLink="/marca">Registro de Marca</a>
          </p>
          <p>
              <a routerLink="/desarrollo">Desarrollo Empresarial</a>
            </p>
            <p>
                <a routerLink="/contactanos">Contactanos</a>
              </p>

        </div>
        <!-- Grid column -->

       

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contacto</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <mdb-icon fas icon="home" class="mr-3"></mdb-icon> Durango, Durango, Mexico
          </p>

          <p>
              <mdb-icon fas icon="print" class="mr-3"></mdb-icon>Loma De Huescarán #415 
            </p>
            <p style='text-indent: 4vw'>Fracc. Loma Dorada </p> 
  
          <p>
            <mdb-icon fas icon="envelope" class="mr-3"></mdb-icon> comercial@inovatix.com.mx
          </p>
          <p>
            <mdb-icon fas icon="phone" class="mr-3"></mdb-icon> +01 618 189 0440
          </p>
         
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="https://www.inovatix.com.mx"> Inovatix.com.mx</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->