@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,800,800i,900,900i');

@media screen and (max-width:640px) {

  .divSepaIni{
    margin-top: 15%;
  }
  
  .iconHeader{
    
    margin-left: 40%;
    color: rgb(105, 54, 126);
    float: left;
    display: none;
    
}

.h1tel{
   
  display: none;
    color: rgb(105, 54, 126);
    font-family: Quicksand;
    margin-left: 2%;
    font-size: .7vw;
   

}

.iconEmail{
  display: none;
  color: rgb(105, 54, 126);
    float: left;
    width: 20px;
    
    

}

.column {
  display: none;
    margin-top: 1vw;
    float: left;
    width: 50%;
  }

.colum2{
  display: none;
    float: left;
    width: 31%;
}


  .row1:after {
    
    content: "";
    display: none;
    clear: both;
  }

  #main-header {
    background: #FFF;
    color: white;
    height: 15vw;
    z-index: 2;
    width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
    left: 0; /* Posicionamos la cabecera al lado izquierdo */
    top: 0; /* Posicionamos la cabecera pegada arriba */
    position: fixed; /* Hacemos que la cabecera tenga una posición fija */
  }

  .divSepara{
    display: none;
    height: 1px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5px;
    background-color: rgb(105, 54, 126);
}

.columnMi{
  float: left;
  width: 100%;
  height: 80vw;
  text-align: justify;
  
  background-color: rgb(243, 243, 243);
}

.columFort{
  float: left;
  width: 45%;
  text-align: left;
  margin-left: 2%;
}

.rowFort{

    width: 100%;
}

.h1Fort{
  font-family: Montserrat;
  font-size: 4vw;
}

.iconFort{
  padding: 2vw;
  margin-right: 1vw;
  color:rgb(166, 41, 216);
}


.columnMimi{
  text-align: justify;
  float: left;
  width: 100%;
   height: 65vw;
  
  background-color: rgb(243, 243, 243);
}

.imgMis{
  margin-top: 2vw;
 
  
  height: 20vw;

}

.columnSepa{
  float: left;
  width: 1px;
  display: none;
  margin-top: 2%;
 
  background-color: rgba(0, 0, 0, 0.315);
  height: 15vw;
  margin: 2%;

}

.h3Mision{

  font-family: Montserrat;
  font-size-adjust: inherit;
  font-size: 5vw;
  
 
  color: rgb(105, 54, 126);

}

.pMis{

  font-family: 'Quicksand', sans-serif;
  font-size: 3vw;
  
  padding-right: 8vw;
  padding-left: 8vw;
  
}

.divValores{
  height: 60vw;
  background-color: rgb(243, 243, 243);
}

.h1NuestrosProductos{
  font-size:9vw; 
  font-family: Montserrat; 
  color: rgb(105, 54, 126);
  text-decoration-style: solid; 
  padding: 2vw;  
}

.rowMi{
  
  background-color: rgb(243, 243, 243);
}

.columMenu{
  float: left;
  width: 70%;
  text-align: right;
  margin-top: 1.5vw;
}

.columMenuLogo{
  float: left;
  width: 30%;
  text-align: center;
  
}

.btnMenu{
  display: none;
  color: #000;
  width: 12vw;
  height: 2.5vw;
  font-size: .9vw;
  font-family: Montserrat;

}

.btnMenuHome{
  display: none;
  height: 2.5vw;
  color: #000;
  width: 7vw;
  font-size: 1vw;
  font-family: Montserrat;

}

.btnMenuTienda{
  display: none;
  height: 2.5vw;
  color: #000;
  width: 12vw;
  font-size: .9vw;
  font-family: Montserrat; 
}
.btnMenuTec{
  display: none;
  height: 2.5vw;
  color: #000;
  width: 8vw;
  font-size: .9vw;
  font-family: Montserrat; 
}
.imgLogo{
    height: 12vw;
    margin-left: 1vw;
    margin-top: .8vw;
}



.btnHamburger{
  color: rgb(105, 54, 126);
  margin-right: 10%;
  
}

.h1Serv{
  font-family: Quicksand;
  font-size: 4vw;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 23%; 
  height:19%;
  color: #FFF;

}

.h1ServN{
  font-family: Quicksand;
  font-size: 4vw;
  margin-right: 23vw;
  color: #FFF;
  margin-bottom: 2vw;
  padding: 0%;

}

.divAlign{
  text-align: end;
  padding: 0;
  
  
}


.rowServicios:after {
    
  content: "";
  display: table;
  clear: both;
  text-align: center;
  
}


.columServDos{

  float: left;
  width: 100%;
  height: 120vw;
  text-align: center;
  text-justify: inter-word;
  background-position: center;
  background-image: url('./imagenes/profecionales.jpg');

}



.columServUno{
  float: left;
  width: 100%;
  height: 40vw;
  text-align: initial;
  text-justify: inter-word;
  background-color:rgb(166, 41, 216);
  padding: 0;


}


.pServ{
  font-family: Montserrat, 'Courier New', Courier, monospace;
  font-size: 2.5vw;
  padding-top: 0%;
  padding-left: 10%;
  padding-right: 5%;
  color: #FFF;
}

.columServBtn{

  float: left;
  width: 100%;
  height: 50vw;
  text-align: center;
  text-justify: inter-word;
  background-color:#fff;
  margin-top: 2vw;

}

.imgServ{
  height: 10vw;
}

.h1ServColum{
  font-family: Quicksand;
  font-size: 3.5vw;
  color:rgb(166, 41, 216);
}

.justificar{
  text-align: center;
}


.pServColum{
  font-size: 3vw;
  padding: 2%;
  font-family: Montserrat;

}




.columTour{
  text-align: center;
  
  width: 100%;
}

.divTourMovil{
  display: none;
}

.h1Tour{
  font-family: Montserrat;
  color: rgb(105, 54, 126);
  font-size: 8vw;
  height: 6vw;
}

.pTour{
  font-family: Montserrat;
  color: #1d21ff;
  font-size: 5vw;
  margin-left: 30%;
  height: 2vw;
}

.pDescubreTour{
  padding-left: 30%;
  padding-right: 20%;
  font-family: Quicksand;
}

.pRecorridoTour{
  font-family: Montserrat;
  font-size: 3vw;
  color: #000;
  width: 100%;
  
}

.imgTour{
  width: 45vw;
  
}

.columnTecno{
  float: left;
  width: 100%;
  text-align: start;
  background-image: url('./imagenes/fondo_apps.png');
  background-position-y: top;
  background-position-x: center;
}

.columnTecnoImg{
  float: left;
  width: 100%;
  text-align: center;
}


.h1Punt{
  font-family: Quicksand;
  font-size: 3vw;
  color: rgb(105, 54, 126);
}


.imgTienOnl{
  width: 100%;
  
}
.h1Colums{
  
  font-family: Quicksand;
  font-size: 2vw; 
  margin-top: 15vw;
  padding-left: 10vw;
  color: rgb(105, 54, 126);

}



.pColums{
  padding-left: 10vw;
  font-family: Montserrat;
  font-size: 2.5vw; 
  padding-right: 5vw;

}

.imgColums{
  height: 60vw;
}

.imgOferta{
  height: 25vw;
  margin-top: 6vw;
 
}

.divColumanasTiendaPunto{
  display: none;
}


}

/*-o-o-o-o-oo--o-o-o-o-o-o-o-o-o-o-o-o-oo-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o*/
@media screen and (max-width:1024px) and (min-width:640px) {

  
  .iconHeader{
    display: none;
    margin-left: 40%;
    color: rgb(105, 54, 126);
    float: left;
    
}

.h1tel{
   
  display: none;
    color: rgb(105, 54, 126);
    font-family: Quicksand;
    margin-left: 2%;
    font-size: .7vw;
   

}

.iconEmail{
  display: none;
  color: rgb(105, 54, 126);
    float: left;
    width: 20px;
    
    

}

.column {
    margin-top: 1vw;
    float: left;
    width: 50%;
    display: none;
  }

.colum2{
    float: left;
    width: 31%;
    display: none;
}


  .row1:after {
    
    content: "";
    display: none;
    clear: both;
  }

  #main-header {
    background: #FFF;
    color: white;
    height: 10vw;
    z-index: 2;
    width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
    left: 0; /* Posicionamos la cabecera al lado izquierdo */
    top: 0; /* Posicionamos la cabecera pegada arriba */
    position: fixed; /* Hacemos que la cabecera tenga una posición fija */
  }

  .divSepara{
    height: 1px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5px;
    background-color: rgb(105, 54, 126);
    display: none;
}

.columnMi{
  float: left;
  width: 100%;
  height: 45vw;

  text-align: center;
  background-color: rgb(243, 243, 243);
}

.columFort{
  float: left;
  width: 45%;
  text-align: left;
  margin-left: 2%;
}

.rowFort{

    width: 100%;
}

.h1Fort{
  font-family: Montserrat;
  font-size: 2vw;
  height: 4vw;
}

.iconFort{
 top: 2vw;
  margin-right: 1vw;
  color:rgb(166, 41, 216);
}

.columnMimi{
  float: left;
  width: 100%;
   height: 33vw;
  text-align: center;
  background-color: rgb(243, 243, 243);
}

.imgMis{
  margin-top: 2vw;
  
  height: 10vw;

}

.columnSepa{
  float: left;
  width: 1px;
  display: none;
  margin-top: 2%;
 
  background-color: rgba(0, 0, 0, 0.315);
  height: 15vw;
  margin: 2%;

}

.h3Mision{

  font-family: Montserrat;
  font-size-adjust: inherit;
  font-size: 3vw;
  
 
  color: rgb(105, 54, 126);

}

.pMis{
  font-family: Quicksand;
  font-size: 2vw;
  padding-top: 1vw;
  padding-right: 8vw;
  padding-left: 8vw;
  
}

.divValores{
  height: 70vw;
  background-color: rgb(243, 243, 243);
}

.h1NuestrosProductos{
  font-size:5vw; 
  font-family: Montserrat; 
  color: rgb(105, 54, 126);
  text-decoration-style: solid; 
  padding: 1vw;  
}

.rowMi{
  
  background-color: rgb(243, 243, 243);
}

.columMenu{
  float: left;
  width: 70%;
  text-align: right;
  margin-top: 2vw;
}

.columMenuLogo{
  float: left;
  width: 30%;
 
  
}

.btnMenu{
  display: none;
  color: #000;
  width: 12vw;
  height: 2.5vw;
  font-size: .9vw;
  font-family: Montserrat;

}

.btnMenuHome{
  display: none;
  height: 2.5vw;
  color: #000;
  width: 7vw;
  font-size: 1vw;
  font-family: Montserrat;

}

.btnMenuTienda{
  display: none;
  height: 2.5vw;
  color: #000;
  width: 12vw;
  font-size: .9vw;
  font-family: Montserrat; 
}
.btnMenuTec{
  display: none;
  height: 2.5vw;
  color: #000;
  width: 8vw;
  font-size: .9vw;
  font-family: Montserrat; 
}
.imgLogo{
    height: 9vw;
    margin-left: 1vw;
    margin-top: .5vw;
}


.btnHamburger{
  color: rgb(105, 54, 126);
  margin-right: 15%;
}


.h1Serv{
  font-family: Quicksand;
  font-size: 2vw;
  padding-top: 15%;
  padding-bottom: 0;
  margin-left: 10%; 
  height:30%;
  color: #FFF;

}

.h1ServN{
  font-family: Quicksand;
  font-size: 2vw;
  margin-right: 4vw;
  color: #FFF;
  margin-bottom: 2vw;
  padding: 0%;

}

.divAlign{
  text-align: end;
  padding: 0;
  
  
}


.rowServicios:after {
    
  content: "";
  display: table;
  clear: both;
  text-align: center;
}


.columServDos{

  float: left;
  width: 70%;
  height: 35vw;
  text-align: center;
  text-justify: inter-word;
  background-position: center;
  background-image: url('./imagenes/profecionales.jpg');


}

.columServUno{
  float: left;
  width: 30%;
  height: 35vw;
  text-align: initial;
  text-justify: inter-word;
  background-color:rgb(166, 41, 216);
  padding: 0;


}


.pServ{
  font-family: Montserrat, 'Courier New', Courier, monospace;
  font-size: 1.2vw;
  padding-top: 0%;
  padding-left: 10%;
  padding-right: 5%;
  color: #FFF;
}

.columServBtn{

  float: left;
  width: 50%;
  height: 30vw;
  text-align: center;
  text-justify: inter-word;
  background-color:#fff;
  margin-top: 2vw;

}

.imgServ{
  height: 4vw;
}

.h1ServColum{
  font-family: Quicksand;
  font-size: 1.5vw;
  color:rgb(166, 41, 216);
}

.justificar{
  text-align: center;
}


.pServColum{
  font-size: 1.1vw;
  padding: 2%;
  font-family: Montserrat;

}

/*---------------------------------------------------------------------------------------------------------------------------*/
html,
body,
.view {
  height: 100vh;
}

/* Full Page Carousel itself*/
.carousel {
  height: 100vh;
  z-index: -1;
}

.carousel .carousel-inner {
  height: 100vh;
}

.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active {
  height: 100vh;
}

.video-fluid {
    max-width: unset;
    z-index: -1;
}

.carousel-caption{
  z-index: -1;
  margin-bottom: 12%;
}


.divUltimo{   
  background-image: url('./imagenes/fondo_apps.png');
  background-position-x: center;
  background-position-y: top;
  background-size: 120vw;
  height: 20vw;
}
.columTour{
  text-align: center;
  
  width: 100%;
}

.divTourMovil{
  display: none;
}

.h1Tour{
  font-family: Montserrat;
  color: rgb(105, 54, 126);
  font-size: 3vw;
  height: 2vw;
}

.pTour{
  font-family: Montserrat;
  color: #1d21ff;
  font-size: 2vw;
  margin-left: 20%;
  height: 2vw;
}

.pDescubreTour{
  padding-left: 30%;
  padding-right: 20%;
  font-family: Quicksand;
}

.pRecorridoTour{
  font-family: Montserrat;
  font-size: 1vw;
  color: #000;
  width: 100%;
  
}

.imgTour{
  width: 25vw;
  
}

.columnTecno{
  float: left;
  width: 50%;
  text-align: start;
}

.columnTecnoImg{
  float: left;
  width: 50%;
  text-align: center;
}


.h1Punt{
  font-family: Quicksand;
  font-size: 3vw;
  color: rgb(105, 54, 126);
}


.imgTienOnl{
  width: 100%;
  
}
.h1Colums{
  
  font-family: Quicksand;
  font-size: 2vw; 
  margin-top: 15vw;
  padding-left: 10vw;
  color: rgb(105, 54, 126);

}



.pColums{
  padding-left: 10vw;
  font-family: Montserrat;
  font-size: 1vw; 
  padding-right: 5vw;

}

.imgColums{
  height: 30vw;
}

.imgOferta{
  height: 9vw;
  margin-top: 6vw;
 
}

.divColumanasTiendaPuntoMovil{
  display: none;
}


}
/*--------------------------------------------------------------------------------------------------------*/
@media screen and (min-width:1024px) {
 
 
  .iconHeader{
    
    margin-left: 60%;
    color: rgb(105, 54, 126);
    float: left;
    
}

.h1tel{
   
    display: inline;
    color: rgb(105, 54, 126);
    font-family: Quicksand;
    
    font-size: .7vw;
   

}

.iconEmail{
  color: rgb(105, 54, 126);
    float: left;
    width: 20px;
    margin-left: 28%;
    
    

}

.column {
    margin-top: 1vw;
    float: left;
    text-align: right;
    width: 50%;
  }

.colum2{
    float: left;
    width: 31%;
}


  .row1:after {
    
    content: "";
    display: table;
    clear: both;
  }

  #main-header {
    background: #FFF;
    color: white;
    height: 9vw;
    z-index: 1;
    width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
    left: 0; /* Posicionamos la cabecera al lado izquierdo */
    top: 0; /* Posicionamos la cabecera pegada arriba */
    position: fixed; /* Hacemos que la cabecera tenga una posición fija */
  }

  .divSepara{
    height: 1px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5px;
    background-color: rgb(105, 54, 126);
}


  .columnMi{
    float: left;
    width: 33.33%;
    height: 38vw;
   
  
   
    background-color: rgb(243, 243, 243);
  }

  .columFort{
    margin-top: 2%;
    float: left;
    width: 50%;
    text-align: left;
    z-index: 1;
    
  }

 
  
  .rowFort{
  
      width: 99%;
  }
  
  .h1Fort{
    font-family: Montserrat;
    font-size: 1vw;
   
  }
  
  .iconFort{
    color:rgb(166, 41, 216);
  }
  
  .columnMimi{
    float: left;
    width: 29.3%;
    margin-left: 2%;
    height: 18vw;
    text-align: center;
    text-align: justify;
    text-justify: inter-word;
    background-color: rgb(243, 243, 243);
  }
  
  .imgMis{
    margin-top: 2vw;
    
    max-width: 10vw;
    
  
  }
  
  .columnSepa{
    float: left;
    width: 1px;
    margin-top: 2%;
   
    background-color: rgba(0, 0, 0, 0.315);
    height: 15vw;
    margin: 2%;
  
  }
  
  .h3Mision{
  
    font-family: Montserrat;
    font-size-adjust: inherit;
    font-size: 1.5vw;
    margin-top: 5%;
    margin-right: 10%;
    color: rgb(105, 54, 126);
  
  }
  
  .pMis{
    font-family: Quicksand;
    font-size: 1.2vw;
    padding: 1%;
    text-align: justify;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vw;
    
  }
  
  .divValores{
    height: 20vw;
    background-color: rgb(243, 243, 243);
  }

  .h1NuestrosProductos{
    font-size:4vw; 
    font-family: Montserrat; 
    color: rgb(105, 54, 126);
    text-decoration-style: solid; 
    padding: 1vw;  
  }

  
  
  .rowMi{
    
    background-color: rgb(243, 243, 243);
  }

  .columMenu{
    float: left;
    width: 80%;
    text-align: center;
    margin-top: 1.5vw;
  }

  .columMenuLogo{
    float: left;
    width: 20%;
    text-align: center;
    
  }

  .btnMenu{

    color: #000;
    width: 12vw;
    height: 2.5vw;
    font-size: .9vw;
    font-family: Montserrat;

  }

  .btnMenuHome{
    height: 2.5vw;
    color: #000;
    width: 7vw;
    font-size: 1vw;
    font-family: Montserrat;
  
  }

  .btnMenuTienda{
    height: 2.5vw;
    color: #000;
    width: 12vw;
    font-size: .9vw;
    font-family: Montserrat; 
  }

  .btnMenuTec{
    height: 2.5vw;
    color: #000;
    width: 8vw;
    font-size: .9vw;
    font-family: Montserrat; 
  }
  .imgLogo{
      height: 4vw;
      margin-left: 1vw;
      margin-top: .5vw;
  }

  .divHamburgesa{
    display: none;
  }

  
.h1Serv{
  font-family: Quicksand;
  font-size: 2vw;
 padding-top: 15%;
 padding-bottom: 0;
  margin-left: 10%; 
  height:20%;
  color: #FFF;

}

.h1ServN{
  font-family: Quicksand;
  font-size: 2vw;
  margin-right: 4vw;
  color: #FFF;
  margin-bottom: 2vw;
  padding: 0%;

}

.divAlign{
  text-align: end;
  padding: 0;
  
  
}

.rowServicios:after {
    
  content: "";
  display: table;
  clear: both;
 
  text-align: center;
}




.columServDos{

  float: left;
  width: 70%;
  height: 35vw;
  text-align: center;
  text-justify: inter-word;
  z-index: -1;
  padding: 0;
  

}

.columServUno{
  float: left;
  width: 30%;
  height: 35vw;
  text-align: initial;
  text-justify: inter-word;
  background-color:rgb(166, 41, 216);
  padding: 0;


}


.pServ{
  font-family: Montserrat, 'Courier New', Courier, monospace;
  font-size: 1.2vw;
  padding-top: 0%;
  padding-left: 10%;
  padding-right: 5%;
  color: #FFF;
}

.columServBtn{

  float: left;
  width: 50%;
  height: 25vw;
  text-align: center;
  text-justify: inter-word;
  background-color:#fff;
  margin-top: 2vw;

}


.imgServ{
  height: 4vw;
}

.h1ServColum{
  font-family: Quicksand;
  font-size: 1.5vw;
  color:rgb(166, 41, 216);
}

.justificar{
  text-align: center;
}


.pServColum{
  font-size: 1.1vw;
  padding: 2%;
  font-family: Montserrat;

}

/*---------------------------------------------------------------------------------------------------------------------------*/
html,
body,
.view {
  height: 100vh;
}

/* Full Page Carousel itself*/
.carousel {
  height: 100vh;
  z-index: -1;
}

.carousel .carousel-inner {
  height: 100vh;
}

.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active {
  height: 100vh;
}

.video-fluid {
    max-width: unset;
    z-index: -1;
}

.carousel-caption{
  z-index: -1;
  margin-bottom: 12%;
}


.columTour{
  text-align: center;
  
  width: 100%;
}

.divTourMovil{
  display: none;
}

.h1Tour{
  font-family: Montserrat;
  color: rgb(105, 54, 126);
  font-size: 3vw;
  height: 2vw;
}

.pTour{
  font-family: Montserrat;
  color: #1d21ff;
  font-size: 2vw;
  margin-left: 20%;
  height: 2vw;
}

.pDescubreTour{
  padding-left: 30%;
  padding-right: 20%;
  font-family: Quicksand;
}

.pRecorridoTour{
  font-family: Montserrat;
  font-size: 1vw;
  color: #000;
  width: 100%;
  
}

.imgTour{
  width: 25vw;
  
}

.columnTecno{
  float: left;
  width: 50%;
  text-align: start;
}

.columnTecnoImg{
  float: left;
  width: 50%;
  text-align: center;
}


.h1Punt{
  font-family: Quicksand;
  font-size: 3vw;
  color: rgb(105, 54, 126);
}


.imgTienOnl{
  width: 100%;
  
}
.h1Colums{
  
  font-family: Quicksand;
  font-size: 2vw; 
  margin-top: 15vw;
  padding-left: 10vw;
  color: rgb(105, 54, 126);

}



.pColums{
  padding-left: 10vw;
  font-family: Montserrat;
  font-size: 1vw; 
  padding-right: 5vw;

}

.imgColums{
  height: 30vw;
}

.imgOferta{
  height: 9vw;
  margin-top: 6vw;
 
}

.divUltimo{   
  background-image: url('./imagenes/fondo_apps.png');
  height: 20vw;
}

.divColumanasTiendaPuntoMovil{
  display: none;
  background-color: #fff;
  z-index: 1;
}
  
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.header{
    
    background-color: rgba(0, 0, 0, 0.411);
   
}
  
  /* Clear floats after the columns */
  .row:after {
    
    content: "";
    display: table;
    clear: both;
  }

  .btnComparAhora{
    width: 50%;
  }

  

  
  

.fondos{
    background-image: url('../home/imagenes/imagen_principal.jpg');
    height: 30vw;
    
    text-align: center;
    
    background-position: center center;
}

.imgLogoGrde{
    z-index: -1;
    margin-top: 50%;
    width: 40vw;
}




.footer{
  background-color:rgb(166, 41, 216);
  
}

.imgFb{
  width: 1.5vw;
  margin-right: 2%;
}


.divParallax{

  background-image: url('./imagenes/profecionales.jpg');
  height: 50vw;
  background-size: 100%;
  text-align: center;
  position: fixed;
  margin-top: 60%;
  z-index: -1;
  width: 70%;
}



