
 

<div class="divSepaIni"></div>


    <mdb-carousel class="carousel slide" >
        <mdb-carousel-item>
          <div class="view">
            <video class="video-fluid" autoplay loop>
              <source src="https://mdbootstrap.com/img/video/animation-intro.mp4" type="video/mp4" />
            </video>
            <div class="mask rgba-indigo-light waves-light" mdbWavesEffect></div>
          </div>
      
          <div class="carousel-caption">
            <div class="animated fadeInDown">
                <img class="imgLogoGrde" src="assets/img/logo_ino_contor.png" alt="">
             
            </div>
          </div>
        </mdb-carousel-item>
    </mdb-carousel>

    <div class="card card-image" style=" background-image: linear-gradient(to right, #00B4DB , #0083B0);">

      <!-- Content -->
      <div class="text-white text-center d-flex align-items-center  py-5 px-4">
        <div>
         <!-- Content  <h5 class="blank-text">Porque crear con <strong>INOVATIX</strong> tu plataforma de <b>Tienda en linea</b></h5>-->
          <h3 class="card-title pt-2"><strong>Inovatix Consultoría</strong></h3>
          <p><strong>Somos </strong>una empresa mexicana dedicada a la <Strong>consultoría
            empresarial</Strong> desde el 2017 con el objetivo de <Strong>brindar una plataforma
            integral</Strong> de <i>servicios administrativos, tecnológicos y operativos </i>para
            el <b>desarrollo de PyMEs, </b> nuestros servicios son implementados bajo prácticas de 
            la gestión de proyectos, normativas de calidad ISO, entre otras metodologías, lo 
            anterior para efectos de asegurar la calidad a nuestros usuarios. Nos destacamos 
            principalmente por el desarrollo de planes de negocios, implementación de herramientas 
            de comercio electrónico, marketing digital y la optimización de procedimientos corporativos, 
            que permiten a nuestros clientes hacer crecer su negocio.</p>
          
        </div>
      </div>
    
    </div>

    
  
   


<div class="divValores">

  <div style="text-align: center; background-color: rgb(243, 243, 243);">
        <h1  class="h1NuestrosProductos" >Nuestros Productos</h1>
      </div>
  <div class="rowMi">
      <div class="columnMi">

          <div style="text-align: center;">
              <img class="imgMis" src="assets/img/logo_flor.png" alt="">
         
              <div style="height: .2vw; width: 90%; margin: 2vw; background-color: violet;"></div>
              <h1 class="h3Mision"><b>REGISTRAMOS TU MARCA</b></h1>
           
           
              <p class="pMis"><strong>REGISTRAMOS TU MARCA</strong> 
                de la forma más fácil y rápida. 
                <br> <br> <strong>¡Inicia tu el trámite totalmente en línea!</strong><br><br></p> 
          
                  <div style="text-align:center;">
           
          

                  <button mdbBtn class="btnComparAhora" type="button" gradient="purple" [routerLink]="['/marca', '2']" rounded="true" mdbWavesEffect>Ver Mas</button>

               </div>

          </div>
                
        </div>
    
       
        
        <div class="columnMi">
            <div style="text-align: center;">
                <img class="imgMis" src="assets/img/project.png" alt="">
                 <div style="height: .2vw; width: 90%; margin: 2vw; background-color: violet;"></div> 
                 <h1 class="h3Mision"><b>DESARROLLA TU FRANQUICIA</b></h1>
                   

            </div>
            <p class="pMis">Lleva tu negocio al siguiente nivel y conoce los beneficios que tiene <strong>DESARROLLAR TU 
              FRANQUICIA.</strong>  Nuestro equipo de consultores te ayudará a desarrollar tu propio modelo de franquicia. 
                .</p>

            <div style="text-align:center;">

                <button mdbBtn class="btnComparAhora" type="button" gradient="purple" [routerLink]="['/desarrollo', '3']" rounded="true" mdbWavesEffect>Ver Mas</button>

             </div>
           
    
       
        </div>
        
        
    
        <div class="columnMi">
            <div style="text-align: center;">
                <img class="imgMis" src="assets\img\tienda_online\ingresos.png" alt="">
                 <div style="height: .2vw; width: 90%; margin: 2vw; background-color: violet;"></div>
                 <h1 class="h3Mision"><b>TU TIENDA EN LÍNEA</b></h1>
            </div>
            <p class="pMis"><strong>Desarrollamos tu TIENDA EN LÍNEA</strong> en las más modernas plataformas de comercio 
              electrónico. Genera una experiencia 
              personal a tus clientes, con vista optimizada mara móviles Android y Apple, 
              cupones de descuentos, chat en línea y más.</p>

              <div style="text-align:center;">

                  <button mdbBtn class="btnComparAhora" type="button" gradient="purple" routerLink="/tienda" rounded="true" mdbWavesEffect>Ver Mas</button>

               </div>
           
         
  </div>
</div>
</div>

<div class="rowServicios">
  <div class="columServUno">
      <h1 class="h1Serv"><font size="20">“</font>Desarrollamos tu </h1>
   <div class="divAlign">
      <h1 class="h1ServN">Negocio...</h1>
      

   </div>
      
      <p class="pServ">Desde su inicio con tu <strong>plan de negocio</strong> , imagen institucional y <strong>registro de tu
          marca</strong>, consolidación legal y fiscal hasta la implementación de sistemas
          informáticos, <strong>puntos de venta</strong>, metodologías de calidad, marketing y
        <strong>comercio electrónico</strong> mediante tu propia <strong>tienda en línea</strong>,
          equipamiento tecnológico y mucho más”. </p>

  </div>
  <div class="columServDos">

      <div  appParallax [ratio]="0.5"  class="divParallax"></div>

     
    </div>

  
</div>

<div style="background-color: #fff; z-index: 1;">

      <div class="divColumanasTiendaPunto" style="margin-top: 0vw;">
      <mat-grid-list cols="2" rowHeight="50vw">
        <mat-grid-tile
            [colspan]="1"
            [rowspan]="1"
            >
                <div class="columTour">

                  <h1 class="h1Tour">
                    <b>Tour Inovatix</b>
                  </h1>
                  <p class="pTour">Tienda en Linea</p>

                  <div style="text-align:end">
                      <p class="pDescubreTour"> <strong>Impulsa el crecimiento del negocio con tu herramienta de e-comerce</strong></p>
                  </div>

                  <div class="columTour">

                    <div style="height:8vw; width: 1px; background-color:rgb(66, 55, 212); float: left; margin-left: 23%;"></div>

                  </div>

                  <div class="columTour">

                    <div style="width: 30vw; text-align: start; margin-left: 15vw;">
                      <p class="pRecorridoTour">Nuestra plataforma de comercio electrónico basada en 
                        la nube y permite realizar ventas mayoristas y minoristas de manera digital. 
                        Nuestra tecnología de próxima generación, medios de pago y envíos pueden darle
                        vida a su visión empresarial.</p>

                        <div style="text-align:center;">

                            <button mdbBtn  type="button" gradient="purple" routerLink="/tienda" rounded="true" mdbWavesEffect>Comprar Ahora</button>

                        </div>


                    </div>

                    
                  </div>
                  

                </div>

        </mat-grid-tile>


        <mat-grid-tile
        [colspan]="1"
        [rowspan]="1"
        >
          
            <img class="imgTour animated pulse infinite" src="/assets/img/tienda_online/carrito_ch.png" alt="">

        </mat-grid-tile>
      </mat-grid-list>
    </div>




<div class="divColumanasTiendaPuntoMovil" style="margin-top: 2vw;">
    <mat-grid-list cols="1" rowHeight="50vw">

        <mat-grid-tile
        [colspan]="1"
        [rowspan]="1"
        >
          
            <img class="imgTour animated pulse infinite" src="/assets/img/tienda_online/carrito_ch.png" alt="">
    
        </mat-grid-tile>
      <mat-grid-tile
          [colspan]="1"
          [rowspan]="2"
          >
              <div class="columTour">
  
                <h1 class="h1Tour">
                  <b>Tour Inovatix</b>
                </h1>
                <p class="pTour">Tienda en Linea</p>
  
                <div style="text-align:end">
                    <p class="pDescubreTour"> <strong>Impulsa el crecimiento del negocio con tu herramienta de e-comerce</strong></p>
                </div>
  
                <div class="columTour">
  
                  <div style="height:8vw; width: 1px; background-color:rgb(66, 55, 212); float: left; margin-left: 10%;"></div>
  
                </div>
  
                <div class="columTour">
  
                  <div style="width: 75%; text-align: start; margin-left: 15vw;">
                    <p class="pRecorridoTour">Nuestra plataforma de comercio electrónico basada en 
                      la nube y permite realizar ventas mayoristas y minoristas de manera digital. 
                      Nuestra tecnología de próxima generación, medios de pago y envíos pueden darle
                       vida a su visión empresarial.</p>
  
                       <div style="text-align:center;">
  
                          <button mdbBtn type="button" gradient="purple" routerLink="/tienda" rounded="true" mdbWavesEffect>Comprar Ahora</button>
  
                       </div>
  
  
                  </div>
  
                  
                </div>
                
  
              </div>
  
      </mat-grid-tile>
  
  
     
    </mat-grid-list>
  </div>



<div class="rowServicios">
    <div class="columnTecnoImg">
        <img class="imgColums animated pulse infinite" style="margin-top: 5vw;" src="assets/img/tecnologias/e-comrece.png" alt="">
  
    </div>

    <div class="columnTecno">
      <div style="text-align: center;">
        <img class="imgOferta" src="/assets/img/tecnologias/oferta_punto.png" alt="">
      </div>
          
       
      
      <p class="pColums">Instalamos tu Sistema Punto de Venta o POS (Point of Sale) en el que podrás 
        automatizar tus cobros, cobrar con tarjetas, administrar tus inventarios, tus compras y 
        ¡mucho más! Contamos con el producto a tu medida y presupuesto.</p>
        <div style="text-align: center;">
            <button mdbBtn type="button" gradient="purple" rounded="true" [routerLink]="['/tecnologias', '1']" mdbWavesEffect>¡Comprar Ahora!</button>
        </div>
    </div>
  
   
</div>
</div>
<div class="divUltimo"></div>




